html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: lightgray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Rubik Mono One', sans-serif;
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  color: rgb(83, 87, 89);
  font-family: 'Rubik Mono One', sans-serif;
}

nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  height: 50px;
  font-family: 'Rubik Mono One', sans-serif;
}

#festivallist {
  text-align: center;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#heading img {
  margin: 20px 20px 50px;
}

#heading h1 {
  margin: 30px auto;
}

img {
  max-width: 500px;
  border: 3px solid black;
}

nav > a {
  margin: 0rem 3rem;
  text-decoration: none;
  color: whitesmoke;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  width: 100%;
  margin: 0;
  font-size: 2.0rem;
}

nav a:hover {
  color: rgb(83, 87, 89);
}

h2 a:hover {
  color: rgb(83, 87, 89);
}

h2 > a, h3 > a {
  color: black;
  text-decoration: none;
}

.btn {
  margin: 1 rem 0;
  font-size: 1.5rem;
  
}
table{
  width: 100%;
}
th {
  border-bottom: 3px solid black;
  font-size: 2.0rem;
}

th h2 {
  font-size: 20px;
  font-weight: bold;
}

td {
  padding: 10px 18px 10px 18px;
  word-wrap: normal;
  font-size: 2.0rem;
}

#festival-details {
  text-align: center;
}

#content-textarea {
  width: 300px;
  height: 50px;
}

#edit-delete {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


#reviewcontent {
  width: 43%;
}

label {
  margin: 5px;
}

#festivalsubmit {
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-review-form {
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  nav > a {
    margin: 0rem 2rem;
    font-size: 16px;
    margin: 0px 5px;
  }

  #festival-details {
    text-align: center;
    width: 550px;
  }
}