html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: lightgray;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  font-family: 'Kaushan Script', cursive;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
  color: rgb(83, 87, 89);
  font-family: 'Kaushan Script', cursive;
}

nav {
  grid-area: nav;
  background-color: #b8c0c2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}