<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/style.css">
  <title>Add New Music Festival</title>
</head>
<body>
  <h1>Add a New Music Festival</h1>
  <form action="/festivals" method="POST">
    <label>Title:
      <input type="text" name="title">
    </label><br>
    <label>Location:
      <input type="text" name="location">
    </label><br>
    <label>Year:
      <input type="text" name="year">
    </label><br>
    <label>Would you attened again?:
      <input type="checkbox" name="wouldYouAttenedAgain" checked>
    </label><br>
    <label>Comments:
      <input type="text" name="comments">
    </label><br>
    <button type="submit">Add New Music Festival</button>
  </form>
</body>
</html>