<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/add.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %>
    <div id="heading">
      <h1>Add A Festival</h1>
      <img id="addIMG" src="/images/EZOO2021.png">
    </div>
    <form id="new-form" action="/festivals" method="POST">
      <label>
        Name: 
        <input type="text" name="name" autocomplete="off">
      </label>
      <br>
      <label>
        Year: 
        <input type="text" name="year" autocomplete="off">
      </label>
      <br>
      <label>
        Location: 
        <input type="text" name="location" autocomplete="off">
      </label>
      <br>
      <label id="festivalsubmit">
        <button class="btn btn-outline-dark btn-lg" type="submit">Add Festival</button>
      </label>
    </form>
  <% } %>
  </main>
<%- include('../partials/footer') %>